/* Our CSS file. */
body
{
    background-color: lightgrey;
}

#container
{
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.card
{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: white;
}
.right
{
    margin: 20px;
    margin-left: 80px;
}
button
{
    background: lightgreen;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
}
.pointy
{
    position: absolute;
    left: 30px;
    width: 425px;
}
.leafy
{
    position: absolute;
    left: 30px;
    top: 40px;
}
.image-leafy
{
    background-color: lightgreen;
    width: 1350px;
    height: 400px;
    padding: 20px;
}
.image-pointy
{
    background-color: lightgreen;
    width: 1350px;
    height: 400px;
    padding: 20px;
}
#head
{
    margin-left: -580px;
}
#head1
{
    margin-left: -640px;
}
#btn
{
    margin-left:-620px;
}